<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Wyników</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        tr:nth-child(even) { background-color: #f9f9f9; }
    </style>
</head>
<body>

<h1>Results</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Distance</th>
        <th>total time</th>
        <th>lap times</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${efforts}">
        <td th:text="${item.name}">name</td>
        <td th:text="${item.surname}">surname</td>
        <td th:text="${item.distance}">surname</td>
        <td th:text="${item.totalTime}">totalTime</td>
        <td th:text="${item.getLapTimes()}">lapTimes</td>
    </tr>
    </tbody>
</table>

</body>
</html>